# Solução do desafio

Para resolver esse desafio vou seguir a seguinte lógica:

- Passo 1 - Importar a base de dados e visualizá-la
- Passo 2 - Calcular os indicadores de todas as lojas:
  - Faturamento por Loja
  - Quantidade de produtos vendidos por Loja
  - Ticket médio dos produto por Loja
- Passo 3 - Automatizar envio por email dos relatórios
- Passo 4 - Enviar email para Diretoria e para cada gerente das Lojas

## Passo 1 - Importando a base de dados

Para resolução de todo esse desafio utilizarei a biblioteca *pandas* como aliada, além do pacote *openpyxl*, para que possa fazer a leitura do arquivo excel que possui os relatórios de vendas.

Esse pacote, assim como a biblioteca pandas, podem ser facilmente instalados através do pip.

In [42]:
import pandas as pd

df = pd.read_excel(r'vendas.xlsx')
display(df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

## Passo 2 - Calculando os indicadores

### Faturamento por loja

Para calcular o faturamento de cada loja, irei usar a função *groupby* com o objetivo de agrupar as linhas de uma mesma loja e depois usar a função *sum* para somar todo o seu faturamento. Ao final, usarei a função *sort_values* para ordenar a tabela em ordem decrescente a partir da loja que obteve o maior valor de faturamento.

In [43]:
df_billing = df[['ID Loja', 'Valor Final']].groupby('ID Loja').sum()
df_billing = df_billing.sort_values(by='Valor Final', ascending=False)
display(df_billing)

                                  Valor Final
ID Loja
Iguatemi Campinas                     1762419
Shopping Vila Velha                   1731167
Bourbon Shopping SP                   1726110
Rio Mar Recife                        1722766
Shopping SP Market                    1721763
Palladium Shopping Curitiba           1721120
Norte Shopping                        1711968
Ribeirão Shopping                     1707122
Iguatemi Esplanada                    1699681
Rio Mar Shopping Fortaleza            1698430
Shopping Center Leste Aricanduva      1682870
Novo Shopping Ribeirão Preto          1678225
Shopping Iguatemi Fortaleza           1674824
Center Shopping Uberlândia            1668921
Shopping União de Osasco              1663770
Shopping Barra                        1653103
Passei das Águas Shopping             1649014
Shopping Eldorado                     1648111
Salvador Shopping                     1646739
Shopping Center Interlagos            1640486
Shopping Ibirapuera                   1635060
Parque Dom Pedro Shopping             1631630
Shopping Recife                       1624879
Shopping Midway Mall                  1590441
Shopping Morumbi                      1586444

### Quantidade de produtos vendidos por loja

Para calcular a quantidade de produtos vendidos por cada loja, basta usar da mesma lógica utilizada para calcular o faturamento, que é a partir do uso das funções *groupby* e *sum*. E, ao final, ordenar a tabela em ordem decrescente a partir da loja que obteve o maior número de produtos vendidos.

In [44]:
df_quantity = df[['ID Loja', 'Quantidade']].groupby('ID Loja').sum()
df_quantity = df_quantity.sort_values(by='Quantidade', ascending=False)
display(df_quantity)

                                  Quantidade
ID Loja
Shopping Vila Velha                     9224
Palladium Shopping Curitiba             9091
Norte Shopping                          9014
Shopping Center Leste Aricanduva        8938
Rio Mar Shopping Fortaleza              8937
Iguatemi Campinas                       8935
Shopping SP Market                      8927
Rio Mar Recife                          8863
Bourbon Shopping SP                     8863
Ribeirão Shopping                       8825
Novo Shopping Ribeirão Preto            8751
Shopping União de Osasco                8730
Shopping Ibirapuera                     8723
Shopping Eldorado                       8719
Salvador Shopping                       8698
Shopping Center Interlagos              8675
Shopping Barra                          8638
Shopping Iguatemi Fortaleza             8629
Center Shopping Uberlândia              8627
Passei das Águas Shopping               8618
Shopping Recife                         8581
Iguatemi Esplanada                      8580
Shopping Morumbi                        8508
Parque Dom Pedro Shopping               8388
Shopping Midway Mall                    8206

### Ticket médio dos produtos por loja

Ticket médio nada mais é que o valor médio das vendas em um determinado período. E para calcular essa métrica deve-se dividir o valor total de faturamento de cada loja pela sua quantidade de produtos vendidos.

No entanto, há uma diferença aqui em relação aos passos anteriores. Até então, eu estava apenas somando os dados existentes da tabela, mas aqui estou estruturando uma nova coluna e não agrupando uma existente. Então, para criar uma nova coluna em uma tabela utilizarei a função *to_frame*, nomeando-a por Ticket Médio.

In [45]:
df_average_ticket = (df_billing['Valor Final'] / df_quantity['Quantidade']).to_frame('Ticket Médio')
df_average_ticket = df_average_ticket.sort_values(by='Ticket Médio', ascending=False)
display(df_average_ticket)

                                  Ticket Médio
ID Loja
Iguatemi Esplanada                  198.098019
Iguatemi Campinas                   197.248909
Bourbon Shopping SP                 194.754598
Parque Dom Pedro Shopping           194.519552
Rio Mar Recife                      194.377299
Shopping Iguatemi Fortaleza         194.092479
Shopping Midway Mall                193.814404
Center Shopping Uberlândia          193.453228
Ribeirão Shopping                   193.441586
Shopping SP Market                  192.871401
Novo Shopping Ribeirão Preto        191.775226
Shopping Barra                      191.375666
Passei das Águas Shopping           191.345324
Shopping União de Osasco            190.580756
Rio Mar Shopping Fortaleza          190.044758
Norte Shopping                      189.923231
Shopping Recife                     189.357767
Salvador Shopping                   189.323868
Palladium Shopping Curitiba         189.321307
Shopping Center Interlagos          189.105014
Shopping Eldorado                   189.025232
Shopping Center Leste Aricanduva    188.282614
Shopping Vila Velha                 187.680724
Shopping Ibirapuera                 187.442394
Shopping Morumbi                    186.464974

## Passo 3 - Automatizando envio de emails

Neste passo, mostrarei como enviar um email através do servidor SMTP do Gmail, pelo fato dele ser o mais seguro e o mais utilizado. Porém, é necessário primeiro acessar o link https://www.google.com/settings/security/lesssecureapps e habilitar o acesso de aplicativo menos seguro, que nesse caso é permitir ao Google realizar o login via *smtplib*.

Por padrão, como medida de segurança, o próprio Gmail não permite o envio de emails através de códigos, então é necessário que você também acesse o link https://accounts.google.com/DisplayUnlockCaptcha e clique em 'continuar', desabilitando assim o bloqueio de aplicativos, ou seja, permitindo o envio de emails através de códigos em Python.

Para automatizar o envio de emails, criarei uma função chamada *send_email*, onde ela vai receber dois parâmetros: o primeiro será uma tabela com o relatório a ser enviado e o segundo será o nome da respectiva loja que foi feito esse relatório.

In [46]:
import smtplib
import email.message

def send_email(df, store_name):
    # Criando instância de objeto da mensagem
    msg = email.message.Message()
    message = f'''
    <p>Prezados, segue o relatório de vendas de sua loja.</p>
    {df.to_html()}
    '''

    # Configurando os parâmetros da mensagem
    msg['Subject'] = f'Relatório - {store_name}'
    msg['From'] = 'remetente@gmail.com'
    msg['To'] = 'destinatario@email.com'  # Apenas o remetente precisa ser Gmail
    password = 'senha_do_gmail_do_remetente'

    # Adicionado cabeçalho e corpo do email
    msg.add_header('Content-Type', 'text/html')
    msg.set_payload(message)
    
    # Criando e configurando servidor
    server = smtplib.SMTP('smtp.gmail.com:587')
    server.starttls()
    server.login(msg['From'], password)
    # Enviando email através do servidor
    server.sendmail(msg['From'], [msg['To']], msg.as_string().encode('utf-8'))
    server.quit()

## Passo 4 - Enviando emails

### Email para diretoria

O email que deve ser enviado a diretoria precisa conter um ranking com todas as informações de todas as lojas, ou seja, deve ser a união das tabelas de faturamento, quantidade de produtos vendidos e o ticket médio. Para isso, irei agrupar toda a informação em uma única tabela para que seja possível uma visão macro de como vão os resultados da empresa. E para unir as três informações citadas anteriormente, basta usar a função *join*.

O ranking, então, será uma tabela ordenada a partir da loja que obteve o maior faturamento.

In [47]:
df_board = df_billing.join(df_quantity).join(df_average_ticket)
df_board = df_board.sort_values(by='Valor Final', ascending=False)
send_email(df_board, 'Todas as lojas')

### Email para gerentes

Esse email deve enviar o relatório de vendas de cada empresa para seu respectivo gerente. O relatório deve conter o faturamento, quantidade de produtos vendidos e o ticket médio de cada loja individualmente. Para isso, incorporarei o nome de todas as lojas em um vetor utilizando a função *unique*. Então enviarei um email para cada uma das empresas listadas através de um *loop for*.

In [48]:
store = df['ID Loja'].unique()

for s in store:
    df_store = df.loc[df['ID Loja'] == s, ['ID Loja','Quantidade','Valor Final']]
    df_store = df_store.groupby('ID Loja').sum()
    df_store['Ticket Médio'] = df_store['Valor Final'] / df_store['Quantidade']
    send_email(df_store, s)

### Implementação extra

Caso o arquivo *Excel* possuísse uma coluna com o email de cada loja, então poderíamos automatizar ainda mais todo esse processo. Eu utilizaria essa coluna para criar um vetor que conteria o email de cada loja, igual eu fiz com  seu nome.

Portanto, bastaria adicionar mais um parâmetro a função *send_email*, que conteria o email da respectiva loja e então, ao invés de colocar um destinatário fixo dentro da função, utilizaria agora o parâmetro email. No final, basta fazer uma pequena alteração no loop.

O resultado final ficaria assim:

In [ ]:
store = df['ID Loja'].unique()
email = df['Email'].unique()

for i, s in enumerate(store):
    df_store = df.loc[df['ID Loja'] == s, ['ID Loja','Quantidade','Valor Final']]
    df_store = df_store.groupby('ID Loja').sum()
    df_store['Ticket Médio'] = df_store['Valor Final'] / df_store['Quantidade']
    send_email(df_store, s, email[i])